page-home {

}
.button-plus {
  display: flex;
  order: 5;

}
.button-min {
  display: flex;
  order: 4;
}
.button-info {
  display: flex;
  order: 6;
}

.listAttr {
  list-style-type: none;
  border-bottom: 1px solid #dedede;
}


.button-backpacks:hover:not(.disable-hover) {
  background-color: lightgrey;
}

.button-backpacks {
  background-color: transparent;
  color: black;
  width: 100%;
  height: 45px;
}