page-home {

}
.button-plus {
  display: flex;
  order: 5;
}

.setting {
  display: flex;
  order: 7;
}

.button-min {
  display: flex;
  order: 4;
}
.button-info {
  display: flex;
  order: 6;
}

.listAttr {
  list-style-type: none;
  border-bottom: 1px solid #996633;
}


.button-backpacks:hover:not(.disable-hover) {
  background-color: lightgrey;
}

.button-backpacks {
  background-color: transparent;
  color: black;
  width: 78%;
  height: 45px;
}

.button-backpacks-icon:hover:not(.disable-hover) {
  background-color: lightgrey;
}

.button-backpacks-icon {
  background-color: transparent;
  color: black;
  width: 20%;
  margin-right: -4px;
  height: 45px;
}