page-edititem {
  .editButton {
    position: relative;
    left: 80%;
  }

  input#Mechanical {
    width: 100%;
    font-size: medium;
    height: 135px;
    text-align: center;
    box-sizing: border-box;
    border: 0px;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(135,135,135,0.75);
    -moz-box-shadow: 2px 2px 8px 2px rgba(135,135,135,0.75);
    box-shadow: 2px 2px 8px 2px rgba(135,135,135,0.75);
  }

  input#Flavor {
    width: 100%;
    font-size: medium;
    height: 135px;
    text-align: center;
    box-sizing: border-box;
    border: 0px;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(135,135,135,0.75);
    -moz-box-shadow: 2px 2px 8px 2px rgba(135,135,135,0.75);
    box-shadow: 2px 2px 8px 2px rgba(135,135,135,0.75);
  }

  input#CustomItem {
    width: 100%;
    font-size: medium;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    border: 0px;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(135, 135, 135, 0.75);
    -moz-box-shadow: 2px 2px 8px 2px rgba(135, 135, 135, 0.75);
    box-shadow: 2px 2px 8px 2px rgba(135, 135, 135, 0.75);
  }
}
