.light-theme {
  ion-content {
    background-color: #ffbb77;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: black;
  }

  .toolbar-title-md {
    color: black;
  }

  .item-md {
    background-color: #ffbb77;
    color: black;
  }

  .toolbar-background-md {
    background: #996633;
  }
}