page-inventory {

}

.button-inventory {
  background-color: transparent;
  color: black;
  width: 100%;
  height: 45px;
}

.button-deleteinv {
  display: block;
  order: 4;
}

.listAttr {
  list-style-type: none;
  border-bottom: 1px solid #dedede;
}