page-inventory {

  .InvBtns {
    border-radius: 11px;
    color: #333333;
    width: 100%;
    height: 45px;
    font-size: medium;
    font-weight: bold;
    border: solid #333333 3px;
    text-decoration: none;
    background: transparent;
  }

  h2.StandardWallet {
    text-align: center;
    font-weight: bold;
  }

  p.Standard {
    text-align: center;
    color: black;
  }

  .button-inventory:hover:not(.disable-hover) {
    background-color: lightgrey;
  }

  .button-items-icon:hover:not(.disable-hover) {
    background-color: lightgrey;
  }

  .button-items-icon {
    background-color: transparent;
    color: black;
    width: 20%;
    margin-right: -4px;
    height: 45px;
  }

  .button-inventory:hover:not(.disable-hover) {
    background-color: lightgrey;
  }

  .button-inventory {
    background-color: transparent;
    color: black;
    width: 78%;
    height: 45px;
  }

  .button-deleteinv {
    display: block;
    order: 4;
  }

  .listAttr {
    list-style-type: none;
    border-bottom: 1px solid #996633;
  }

  ion-col#FixedWallet {
    max-height: 11.5vh;
    border-bottom: 2px solid #996633;
  }
}

