page-inventory {

}

.button-inventory:hover:not(.disable-hover) {
  background-color: lightgrey;
}




.button-items-icon:hover:not(.disable-hover) {
  background-color: lightgrey;
}

.button-items-icon {
  background-color: transparent;
  color: black;
  width: 20%;
  margin-right: -4px;
  height: 45px;
}

.button-inventory:hover:not(.disable-hover) {
  background-color: lightgrey;
}

.button-inventory {
  background-color: transparent;
  color: black;
  width: 78%;
  height: 45px;
}

.button-deleteinv {
  display: block;
  order: 4;
}

.listAttr {
  list-style-type: none;
  border-bottom: 1px solid #dedede;
}