page-standarditem {

}

.bar-positive {
  z-index: 2;
}

p#Weapon, p#Armor, p#Gear, p#Ammo, p#Tool {
  color: black;
}

h2#ArmorHeader, h2#WeaponHeader, h2#GearHeader, h2#AmmoHeader, h2#ToolHeader {
  font-weight: bold;
}